<h1>Pagina Principal del Site de A. Gomez para GIT</h1> <br>
<nav>
  <ul>
    <li><a href="http://localhost:5000">Inicio</a></li>
  </ul>
</nav>
<br>
<section>
<article>
<br>
<p>En esta sección de la página mostramos una imagen y un video</p>
<br>
<img src="../../images/agomez.png">
<video width="640" height="480" controls preload autoplay>
<source src="/vid/big-buck-bunny_trailer.webm" type=video/webm>
</video>
</article>
</section>
<aside></aside>
<footer>Ashley Gomez Porta <br>
		ashley.gomez.porta@alumnos.upm.es <br>
		<script>document.write(new Date());</script>
</footer>